body {
  background-color: #FFF;
  color: #777;
}
.tile {
  width: 40px;
  height: 60px;
  position: absolute;
  color: #FFF;
  text-align: center;
  line-height: 60px;
  border: 1px solid #777;
  background-color: #999;
}
.tilehigh {
  box-shadow: 0px 3px 3px #000;
}
.list-group-item {
  background-color: #3A3F44!important;
}
